.displayer {
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color:rgba(44, 0, 146, 0.13);
    overflow: hidden;
  }
  
  /* Styling for the Canvas */
  .rubik-canvas {
    position: absolute;
    top: 0%; /* Start 20% down the viewport */
    height: 20%; /* Cover 40% of the viewport height */
    width: 100%; /* Full width */
    overflow: hidden; /* Ensure no overflow in the canvas itself */
  }