.displayer {
  position: relative;
  height: 35vh;
  width: 100vw;
  background-color: rgb(52, 44, 58);
  overflow: hidden;
}

.rubik-canvas {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.user-control {
  padding-top: 10px;
  height: 55vh;
  width: 100vw;
  background-color: rgb(199, 193, 252);
  overflow: hidden;
}
