.displayer {
  position: relative;
  height: 35vh;
  width: 100vw;
  background-color: rgb(63, 58, 66);
  overflow: hidden;
}

.user-control {
  padding-top: 15px;
  height: 65vh;
  width: 100vw;
  background-color: rgb(252, 246, 255);
  overflow-y: scroll;
}
